<div class="">
  <div class="row no-gutters">
    <div class="col-lg-4">
      <webview id="foo" class="webview" src="https://www.onenote.com/notebooks" ></webview>
    </div>
    <div class="col-lg-4 mb-5">

      <div class="frame">
      <ul class="ul-frame"></ul>
      <div>
        <div class="msj-rta macro" style="margin:auto">
          <div class="text text-r" style="background:whitesmoke !important">
            <input class="mytext" ng-model="chatbox" placeholder="Type a Message"/>
          </div>
          <button class="btn btn-secondary" ng-click='addchat(chatbox)'>Submit</button>
        </div>
      </div>
    </div>

  </div>

    <div class="col-lg-4">
      <div class="row no-gutters">
        <div class="col-12 cal">

          <md-event-calendar
            ng-model="selected"
            md-events="events"
            md-event-click="eventClicked($selectedEvent)"
            md-label="title",
            md-show-create-link="true"
            md-create-event-click="eventCreatea($date)"
            md-create-disabled="true"
            auto-height="450px"
            class="md-primary"
          >
            <md-event-calendar-header class="md-center">
              <md-event-calendar-prev></md-event-calendar-prev>
              <md-event-calendar-title></md-event-calendar-title>
              <md-event-calendar-next></md-event-calendar-next>
            </md-event-calendar-header>
          </md-event-calendar>
        </div>
      </div>


      <div class="row no-gutters">
        <div class="col-12">
          <div class="card bg-light mt-2">
            <div class="card-body">
              This is a happy messages, with a happy meaning - Patrick
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
